<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        var formatted_data = {{ formatted_data | tojson }}
    </script>
</head>

<body>
    <h2 id="#title">Time vs. Temperature Graph</h2>
    <!-- <img src="../static/img.jpg"> -->
    <div id="chart"></div>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="/static/chart_generation.js"></script>
</body>

</html>
